# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/.gitignore
/target/karate-reports/
/.idea/compiler.xml
/bin/test/
/.idea/gradle.xml
/target/karate.log
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
